.page-header{
    background-image: url("../../../../assets/img/page-header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
}